body {
  text-align: center;
}

.menu button {
  width: 50%;
  background-color: blue;
  color: white;
}

.menu .load {
  background-color: blue;
}

.menu .serve {
  background-color: teal;
  visibility: hidden;
}

.menu .view-data {
  background-color: yellow;
  visibility: hidden;
}

.menu .export {
  background-color: green;
  visibility: hidden;
}

.menu .clear {
  background-color: red;
  visibility: hidden;
}
