body {
  text-align: center;
}

.menu button {
  width: 50%;
  background-color: blue;
  color: white;
}

.menu .load {
  background-color: blue;
}

.menu .serve {
  background-color: teal;
}

.menu .view-data {
  background-color: yellow;
}

.menu .save {
  background-color: green;
}

.menu .clear {
  background-color: red;
}
